<header class="main-heading">
  <h1>Search something you want to eat</h1>
  <form action="/dishes" method="POST">
    <input type="text" name="dish" id="inputs" />
    <button type="submit">search</button>
  </form>
</header>
